menu "Application Config"

menu "Communications Port Config"

    config APP_RS485_MOTOR_DRIVER
	bool "rs485 port for motor driver"
	default y

endmenu

menu "Replaceable physical module"

    config APP_USING_PISTON_PUMP
	bool "syring using piston pump"
	default n
    config APP_USING_PMC_SAMPLER
	bool "syring using pmc005 control sampler"
	default n

endmenu

endmenu
